.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
}

@font-face {
  font-family: 'PressStart2P';
  src: local('PressStart2P'), url(./PressStart2P-Regular.ttf) format('truetype');
}

.App-header {
  background-color: transparent;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1000;
  width: 100%;
  gap: 20px;
  color: aqua;
  font-family: 'PressStart2P';
  font-size: small;
}

.center {
  height: 100%;
}

.App-header button {
  font-family: 'PressStart2P';
  border: 0;
  font-size: small;
  background-color: transparent;
  color: aqua;
  cursor: pointer;
  outline: none;
}

.App-header button:active {
  color: rgb(255, 0, 191);
}

.App-link {
  color: #61dafb;
}